$validate = request()->validate([
            {{validateFields}}
        ]);

        ${{modelInstance}} = ${{modelInstance}}->update($request->all());

        return [ 'msj' => 'Registro Editado' , compact('{{modelInstance}}')];