
        <v-flex xs12 sm6>
            <v-textarea
                v-model="form.{{columnName}}"
                label="{{labelName}}"
                placeholder="Indique {{labelName}}"
            ></v-textarea>
        </v-flex>
